<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        
        
      </div>
      
      
      <div class="col-md-4">
        <div class="panel panel-default friends">
          <div class="panel-heading">
            <h3 class="panel-title">Integrantes</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li><a href="#" class="thumbnail"><img src="/img/hadson.jpg" alt=""></a></li>
              <li><a href="#" class="thumbnail"><img src="/img/user.png" alt=""></a></li>
              <li><a href="#" class="thumbnail"><img src="/img/user.png" alt=""></a></li>
              <li><a href="#" class="thumbnail"><img src="/img/user.png" alt=""></a></li>
              <li><a href="#" class="thumbnail"><img src="/img/user.png" alt=""></a></li>
              <li><a href="#" class="thumbnail"><img src="/img/user.png" alt=""></a></li>
            </ul>
            <div class="clearfix"></div>
            <a class="btn btn-primary" href="/pagredsocial/integrante.html">Sobre Nosotros</a>
          </div>
        </div>
        <div class="panel panel-default groups">
          <div class="panel-heading">
            <h3 class="panel-title">Comentarios de Nuestro Miembros</h3>
          </div>
          <div class="panel-body">
            <div class="group-item">
              <img src="/img/group.png" alt="">
              <h4><a href="#" class="">Carlos Perez</a></h4>
              <p>Los canchitas depostivas son muy amplias y bien acondicionadas.</p>
            </div>
            <div class="clearfix"></div>
            <div class="group-item">
              <img src="/img/group.png" alt="">
              <h4><a href="#" class="">Erick Torres</a></h4>
              <p>La canchita de San Luis esta implementando un mini Gimnasio para realizar calentamientos, espectacular.</p>
            </div>
            <div class="clearfix"></div>
            <div class="group-item">
              <img src="/img/group.png" alt="">
              <h4><a href="#" class="">Rafael Barrento</a></h4>
              <p>Las canchitas de San Juan de Lurigancho ya necesitan mantenimiento.</p>
            </div>
            <div class="clearfix"></div>
            <a href="#" class="btn btn-primary">Ver más comentarios</a>
          </div>
        </div>
      </div>
   
      
    </div>
  </div>
</section>